DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/pharmacy_saas?schema=public"

PORT=3000

JWT_SECRET=a14f7389e9bd4423eb62d33a21d9de7cf4158d2b89b0b725a4e46e
# JWT_SECRET=your_jwt_secret_key
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=86400
JWT_REFRESH_TOKEN_TTL=604800
# JWT_ACCESS_TOKEN_TTL=604800
# JWT_REFRESH_TOKEN_TTL=86400