# DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/pharmacy_saas?schema=public"

# PORT=3000

# JWT_SECRET=a14f7389e9bd4423eb62d33a21d9de7cf4158d2b89b0b725a4e46e
# # JWT_SECRET=your_jwt_secret_key
# JWT_TOKEN_AUDIENCE=localhost:3000
# JWT_TOKEN_ISSUER=localhost:3000
# JWT_ACCESS_TOKEN_TTL=86400
# JWT_REFRESH_TOKEN_TTL=604800
# # JWT_ACCESS_TOKEN_TTL=604800
# # JWT_REFRESH_TOKEN_TTL=86400

# TRACCAR_SMS_URL=https://www.traccar.org/sms/
# TRACCAR_SMS_TOKEN=e8K_o2mlSe-ZRsMh4L1c8E:APA91bHmlczIdGZMvLchHbk7eEpoaT067AJxcCGb7Mljp8O0OdjGyvgc-Vqsm4jhmYcamtZbcs1i91JkRXf3zX2LGPgW84gzspfFJn2KoageZKQMTVQjy1c
# SMS_REQUEST_TIMEOUT_MS=30000



# STRIPE_SECRET_KEY=

# FRONTEND_URL=http://localhost:5173

# STRIPE_WEBHOOK_SECRET=



# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/pharmacy_saas?schema=public"

PORT=3000

JWT_SECRET=a14f7389e9bd4423eb62d33a21d9de7cf4158d2b89b0b725a4e46e
# JWT_SECRET=your_jwt_secret_key
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=86400
JWT_REFRESH_TOKEN_TTL=604800

REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_DB=0


TEST_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsImFjY291bnRUeXBlIjoiUEhBUk1BQ1kiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzg1MDkwMTQ1LCJleHAiOjE3ODUxNzY1NDUsImF1ZCI6ImxvY2FsaG9zdDozMDAwIiwiaXNzIjoibG9jYWxob3N0OjMwMDAifQ.MC2wduSTeiFMW9stfTXT4SimXIf-QRz5-MKntO46yL8"




$env:TEST_ACCESS_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsImFjY291bnRUeXBlIjoiUEhBUk1BQ1kiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzg1NTgyNzEzLCJleHAiOjE3ODU2NjkxMTMsImF1ZCI6ImxvY2FsaG9zdDozMDAwIiwiaXNzIjoibG9jYWxob3N0OjMwMDAifQ.RoDZshRUS2fOzw8BtMcnbkrel9XW4CwLWiT4t5QXiKY"


# RAG_SERVICE_BASE_URL=http://127.0.0.1:8000
RAG_SERVICE_BASE_URL=https://44d5-185-100-234-183.ngrok-free.app
RAG_SERVICE_ANSWER_PATH=/rag-test/ask
# RAG_SERVICE_API_KEY=replace-with-strong-secret
RAG_SERVICE_TIMEOUT_MS=60000



STRIPE_SECRET_KEY=your_stripe_test_secret_key

FRONTEND_URL=http://localhost:5173

STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret


BACKUP_ENABLED=true
BACKUP_TEMP_DIR=/tmp/medixa-backups
DRIVE_BACKUP_FOLDER=MediXa-DB-Backups
RETENTION_DAILY=7

GOOGLE_CREDENTIALS_PATH=/app/secrets/credentials.json
GOOGLE_TOKEN_PATH=/app/secrets/token.json

BACKUP_ENCRYPTION_KEY_BASE64=

# Optional
PG_BIN_DIR=